<div class="container">
  <div class="row ">
    <div class="col-4">
      <h2 >Mofifier ce customer</h2>
      <div class="card">
        <div class="card-body">
          <input type="hidden" [(ngModel)] = "updateCustomer.id" >
          <div class="form-group">
            <input type="text" [(ngModel)] = "updateCustomer.name" placeholder="Name" class="form-control" >
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)] = "updateCustomer.email" placeholder="email" class="form-control" >
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)] = "updateCustomer.tel" placeholder="tel" class="form-control" >
          </div>
          <!--<input class="btn btn-primary" type="submit" (click)="updateCustomer()" value="Modifier" >-->

        </div>
      </div>
    </div>
  </div>
</div>


